package templates

import (
	"company-site/templates/components"
)

templ IndexPage() {
	@Base("Главная | JWT") {
		@components.Navbar("home")
		@components.Hero()
		@components.About()
		@components.Services()
		@components.Contact()
		@components.Footer()
	}
}